/**-css_alluse-**/
*{margin:0px;padding:0px;}
img{border:0px;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;height:0px;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
h1{font-size:14px;font-weight:bold;}
em{font-size:12px;font-style:normal;}
.wid5{width:600px;}
.wid52{width:602px;}
.wid3{width:338px;}
.wid34{width:340px;}
.wid9{width:950px;}
.marl20{margin-left:13px;}
.marr5{margin-right:5px;}
.mart10{margin-top:10px;}
span{margin:0px;padding:0px;}
.wid310{width:310px;}
.wid308{width:308px;}
body{padding:0;margin:0px auto 0px auto;font-size:12px;color:#696767;}
span.views{font-size:12px;color:#F36;}
.spec h1{color:#F70;}

/*css for ad*/
#ad1{float:right;height:60px;}
#ad2,#ad3{width:950px;margin:10px 0 0 0;text-align:center;border:1px solid #cbffcb;}
#adlist{width:320px;text-align:center;padding-bottom:5px;}
#adlists{text-align:center;padding-bottom:5px;}
.adirt{text-align:center;margin:0 auto;}
.adirts{text-align:center;margin-left:10px;}

/**-css_headfooter-**/
#top{width:100%;height:47px;background:url(../images/top.png) 0 0 repeat-x;overflow:hidden;color:#8f8f8f;}
#top p{width:950px;height:37px;line-height:37px;margin:0 auto;}
#top p span.right{height:38px;_margin-top:0px;display:block;}
#top p span.right img{margin-top:-3px;_margin-top:0;+margin-top:0;margin-right:2px;vertical-align:middle;}
#top p span.right{margin-top:0;}
#top a:link,#top a:visited,#top a:hover,#top a:active{color:#8f8f8f}

#header{width:950px;margin:0 auto;height:75px;}
.logo{width:200px;text-align:center;float:left;padding:5px 0 0 0;}
#search_box{margin:30px 3px 0 0;text-align:left;float:right;width:300px;height:31px; background: url(search_box.gif) no-repeat;}
#search_box select{color:green;float:left;margin:4px 0 0 8px;border:none;}
#search_box #s{float:left;padding: 0;margin: 6px 0 0 3px;border:0;width:200px;background:none;font-size:13px;color:#999;text-valign:middle;}
#search_box #go{float:right;margin:3px 5px 0 0;} 

.stat{BORDER-RIGHT:#cbffcb 1px solid;BORDER-LEFT: #cbffcb 1px solid;BACKGROUND: url(statbg.gif) repeat-x;OVERFLOW:hidden;WIDTH:948px;margin:0 auto;color:#000;}
.stats {MARGIN:0px auto;WIDTH:930px;LINE-HEIGHT:26px;BORDER-BOTTOM: #cbffcb 1px solid;TEXT-ALIGN:left;font-size:12px;}
.stats b{font-size:14px;margin:0 2px;font-weight:normal;}
.stats a:hover{text-decoration:underline;}
.stats a:link,.stats a:visited{text-decoration:none;color:#000;}
.statbot{margin-bottom:10px;}

#menu{width:100%;clear:both;text-align:center;font-size:14px;background-color:#093;}
#button{padding:0;width:950px;text-align:left;margin:0 auto;}
#button li{display:inline;}
#button li a{font-family:Arial;font-size:14px;text-decoration:none;float:left;padding:12px 15px 12px 15px;color:#fff;border-left:1px solid #0C6;font-weight:bold;}
#button li a:hover{background-color: #F70;margin-top:-2px;padding-bottom:15px;}
#button li a.selected{background:#F70;}

#footline{background-color:#eee;height:35px;color:#888;text-align:center;line-height:35px;font-size:12px;}
#foot{width:100%;background:url(foot.gif);color:#333;clear:both;height:60px;margin-bottom:0px;}
#footer{width:950px;margin:5px auto 0 auto;line-height:28px;}
#foot p{height:24px;clear:both;}
#main_cont{width:950px;height:auto;margin:auto;position:relative;margin-top:10px;}

/*css-for-link*/
#links{margin-top:10px;}
.linkt{width:950px;margin:10px auto 0 auto;padding:10px 0 0 0;border-bottom:2px dotted #ddd;}
#links a{display:inline-block;width:85px;height:24px;}
#links a,#links a:hover,#links a:visited{color:#333;text-decoration:none;}
#links a:hover{text-decoration:underline;}
#foot a:link,#foot a:visited,#foot a:hover,#foot a:active{color:#666;text-decoration:underline;}
#footline a:link,#footline a:visited,#footline a:hover{color:#888;text-decoration:none;}

/**css_index**/
.main{border:0px solid #cbffcb;}
.mat{background:url(xha.gif) repeat-x;HEIGHT:29px;border:1px solid #cbffcb;border-bottom:0px;}
.mat .left{line-height:29px;text-indent:25px;color:#F70;font-weight:bold;font-size:14px;background:url(lanmu.gif) no-repeat 8px 9px;}
.stop5{BACKGROUND:url(5top.gif) no-repeat;HEIGHT:7px;OVERFLOW:hidden}
.stop3{BACKGROUND:url(34top.gif) no-repeat;HEIGHT:7px;OVERFLOW:hidden}
.sbot5{BACKGROUND:url(5bot.gif) no-repeat;HEIGHT:6px;OVERFLOW:hidden}
.sbot3{BACKGROUND:url(34bot.gif) no-repeat;HEIGHT:6px;OVERFLOW:hidden}
.stop310{BACKGROUND:url(310top.gif) no-repeat;HEIGHT:7px;OVERFLOW:hidden}
.sbot310{BACKGROUND:url(310bot.gif) no-repeat;HEIGHT:7px;OVERFLOW:hidden}
.wid52.list{BACKGROUND:url(5mid.gif) repeat-y;}
.list ul{padding-left:30px;list-style-image:url(list.gif);font-size:14px;}

.wid310.list{BACKGROUND:url(310mid.gif) repeat-y;}
.wid52 ul li{height:28px;line-height:28px;padding:3px 2px 0px 0;clear:both;border-bottom:1px dotted #aaa;margin-right:13px;}
.wid310 ul li{height:24px;line-height:24px;padding:3px 2px 0px 0;clear:both;border-bottom:1px dotted #aaa;margin-right:13px;font-size:13px;}
.wid310 ul.sec{list-style-image:url(lista.gif);}
.list ul li span{display:inline-block;}
.more{font-size:12px;width:86px;background-image:url(xhb.gif);height:29px;line-height:29px;text-indent:48px;color:#936;}
.more a{text-decoration:underline;}
.more a:hover{font-weight:bold;text-decoration:overline;}

/*add text*/
.ma_tit{background:url(list.gif) no-repeat 3px 10px;line-height:26px;font-size:14px;margin:0px 18px 0px 15px;padding-left:18px;border-bottom:1px dotted #ddd;padding-top:3px;padding-bottom:3px;}
.ma_tit .index_t a:link,.ma_tit .index_t a:hover,.ma_tit .index_t a:visited{color:#063;}
.index_c a.indc:hover{text-decoration:none;}
.ma_cont{clear:both;line-height:24px;margin:0 15px 0 15px;border-bottom:1px dotted #ccc;text-indent:30px;padding-bottom:1px;height:47px;}
.index_c{font-size:12px;margin-left:10px;}
.time em{float:right;}

/*mulu list*/
.mulu{padding-top:4px;padding-left:10px;}
.mulu{BACKGROUND:url(34mid.gif) repeat-y;}
.mulu a{display:inline-block;height:32px;width:78px;text-align:center;line-height:32px;overflow:hidden;}
.mulu .cla h1{font-weight:bold;}
.mulu a.cla{font-size:14px;text-decoration:none;color:#F90;}
.main,.main a,.main a:visited,.main a:hover{color:#000;}
.mulu a.cla:hover{color:#F70;}
.main a:hover{text-decoration:underline;}
.main em{color:#666;}

/*css for images*/
#play{width:340px;height:243px;overflow:hidden;}
#play img{border:1px solid #cbffcb;width:338px;height:241px;}
#play_info{position:absolute;margin-top:203px;padding:5px 8px;height:45px;width:240px;color:#fff;z-index:81;cursor:pointer;font-size:12px;}
#play_info b{font-size:12px;display:block;margin-bottom:3px;}
#play_bg{position:absolute;background-color:#000;margin-top:200px;height:42px;width:340px;filter: Alpha(Opacity=35);opacity:0.3;z-index:80;}
#play_text{position:absolute;margin:195px 0 0 260px;height:60px;width:60px;z-index:82;}
#play_text ul{width:50px;height:50px;display:block;margin-top:10px;padding-top:1px;_padding-top:0px;filter: Alpha(Opacity=80);opacity:0.8;}
#play_text ul li{width:13px;height:13px;float:left;background-color:#F69;display:block;color:#FFF;text-align:center;margin:1px;cursor:pointer;padding-bottom:1px;_padding-bottom:0px;clear:none;}
#play_list{width:340px;height:250px;}
#play_list a{display:block;position:absolute;overflow:hidden;float:left;padding:0;}
.ttalt{margin-left:30px;margin-bottom:10px;color:#F80;}

/*css-for-photo*/
.photos{width:952px;margin:auto;margin-top:10px;}
.phlist{border:1px solid #cbffcb;border-top:0px;widh:950px;clear:both;height:295px;padding-bottom:5px;}
.phlistall{clear:both;border:1px solid #cbffcb;border-top:0px;padding-bottom:15px;width:950px;}
.photo_box{width:174px;height:138px;float:left;display:block;text-align:center;margin:8px 0 0 13px;position:relative;background:url(pho_bg.gif) no-repeat center;}
img.photo{padding:6px 0 0 0;width:160px;height:124px;}
.outd{float:left;order:1px solid blue;text-align:center;}
.photit{width:170px;height:20px;margin-top:2px;margin-left:5px;overflow:hidden;line-height:20px;}
.photit a{color:#666;text-decoration:underline;}
.photit a:hover{color:#F70;text-decoration:underline;}
.photo_b{width:174px;height:138px;display:block;text-align:center;margin:8px 0 0 13px;position:relative;background:url(pho_bg.gif) no-repeat center;}
.photo_b :hover{width:175px;height:139px;}
/*image list*/
.imgcla{border:1px solid #cbffcb;border-top:0px;}
.imgcla a{display:inline-block;height:32px;width:130px;text-align:center;line-height:32px;overflow:hidden;color:#000;}
.imgcla a h1{font-weight:normal;}
.imgcla a.cla{font-size:14px;text-decoration:none;color:#F70;}
.imgcla a.cla:hover{color:#F70;text-decoration:underline;}


/**for login and zhuce */
#login{width:948px;BORDER-RIGHT:#ff75c8 1px solid;BORDER-LEFT: #ff75c8 1px solid;}
#login .log{width:300px;border:1px solid red;background:#F3C0E8;height:120px;}
#login .zhu{width:620px;border:1px solid blue;}
input.mainput{width:150px;height:18px;}

/*listpage :right remen*/
.list .cla{width:120px;height:36px;line-height:35px;float:left;margin-left:25px;font-size:14px;overflow:hidden;}
.list .cla .cla_nu{color:#666;}
.wid3 .list{BACKGROUND:url(34mid.gif) repeat-y;padding-top:2px;}
.wid3 .list ul.hot li{height:29px;line-height:29px;padding:2px 2px 0 0;clear:both;border-bottom:1px dotted #aaa;margin-right:13px;font-size:12px;}

/*listpage :down pagechar*/
.pagechar{font-size:12px;width:98%;text-align:right;margin-top:10px;padding-bottom:5px;}
#yw1{list-style-image:none;list-style:none;display:inline;padding-left:5px;}
#yw1 li{BACKGROUND:none;display:inline;margin:0px;border:0px;}
#yw1 li a{border:1px solid #ccc;padding:1px 6px 1px 6px;}
#yw1 li a:hover{background-color:#F70;border:1px solid #F70;color:#fff;}
#yw1 li.selected a{background-color:#F70;border:1px solid #F70;color:#fff;}

/*listpage :baoxiao list*/
#baox {padding:0px;text-align:left;margin:0px;}
#baox li,#baox ul{margin:0px;padding:0px;}

/*image view*/
.im_tit{background-color:#cbffcb;width:95%;line-height:25px;height:25px;color:#33C;margin:3px auto 3px auto;}
.im_img{}

/*irtpage-wordxiao*/
.x_text{font-size:14px;color:#000;line-height:30px;padding:10px 10px 10px 20px;}
.x_title{font-size:16px;font-weight:bolder;text-align:center;padding-top:20px;margin-bottom:15px;}
.x_mess{color:#F80;height:30px;width:420px;margin:0 auto;background:#E2FAE3;text-align:center;line-height:30px;border:1px dotted #FBF4FB;}
#bdshare{margin-left:20px;}
#votemess{position:absolute;left:0;top:120px;z-index:2;height:100px;width:600px;font-size:40px;color:red;font-weight:900;text-align:center;font-family:"¿¬Ìå";display:none;}
#copys{border-top:1px solid #F66;border-left:1px solid #F66;border-right:1px solid #000;border-bottom:1px solid #000;background:#C69;color:#fff;margin-left:5px;margin-right:5px;}

/*irtpage-imagexiao*/
#xiao_image{text-align:center;font-size:14px;padding:5px 0px 10px 0px;position:relative;-moz-user-select:none;}
#xiao_image img{margin:5px 0 10px 0;}
#xiao_image #pre{position:absolute;display:block;background:#093;filter:Alpha(Opacity=0);opacity:0;left:0;top:0;z-index:85;height:96%;width:50%;cursor:url(/images/pre.cur),auto;}
#xiao_image #next{position:absolute;z-index:85;display:block;background:#F69;filter:Alpha(Opacity=0);opacity:0;height:96%;width:50%;top:0;right:0;cursor:url(/images/next.cur),auto;}
.sideimg{width:95%;text-align:right;line-height:28px;font-size:13px;padding-bottom:10px;}
.autop{height:22px;line-height:24px;text-align:right;width:95%;margin-left:15px;}
.autop a{text-decoration:underline;}
.autop a:hover{text-decoration:none;}
.autop img{margin:0;padding:0;margin-top:-2px;margin-right:2px;}
.autop b{color:#093;margin-right:5px;}

#vbox{margin:20px auto;width:300px;overflow:hidden;}
.box{cursor:pointer;float:left;height:39px;margin-right:8px;overflow:hidden;width:139px;}
.box .gact,.box .bact {font-size:14px;font-weight:bold;text-indent:25px;margin-top:5px;}
#gnum,#bnum {text-align:center;width:65%;}
.good {background:transparent url("vote.gif") no-repeat scroll -138px 0;}
.bad {background:transparent url("vote.gif") no-repeat scroll -278px 0;}
.good .gact {color:#CC3300;}
#gnum,#bnum{color:#777;}
.bad .bact {color:#999900;}
.pltext{text-align:left;width:588px;}
.pltext .left{margin-left:15px;}
.pltext .right{BACKGROUND: url(sub.gif);width:117px;height:60px;line-height:60px;font-size:22px;color:#fff;font-weight:bolder;text-align:center;cursor:pointer;}
.pl{width:450px;height:55px;margin:0px;padding:0px;}
.pltext .im_tit{margin-left:15px;padding-left:10px;}
#pllist{line-height:22px;font-size:12px;border-bottom:1px dotted #aaa;list-style-type:disc;list-style-image:none;}
#pllist li{height:auto;}
#pllist .litt{color:#666;}


/**yuanxiao*/
#yuan{font-size:13px;}
#xiao{display:none;clear:both;background:url(yuanbg.gif) no-repeat 12px 2px;padding-bottom:8px;padding-top:15px;height:154px;line-height:13px;}
#xiao img{width:13px;height:13px;vertical-align:middle;}
#xiao a{text-decoration:underline;}
#xiaotext{margin-left:135px;width:640px;text-align:left;color:blue;}
.sytit{font-weight:bolder;padding-left:40px;font-size:14px;margin-top:13px;margin-bottom:5px;}
.sytext{line-height:24px;text-indent:40px;color:blue;font-size:13px;}

/*for pagestr in image page*/
#page{font-size:12px;margin-top:2px;margin-bottom:10px;text-align:center;padding-bottom:4px;}
#page a{border:#ccc 1px solid;padding:3px 6px 3px 6px;margin:0px 1px 0px 1px;text-decoration:none;color:#093;}
#page a:hover{background:#F90;color:#fff;}
#page a.nowuse{background:#F90;color:#fff;border:#ddd 1px solid;}
#page b{color:#093;}
#page input{color:#093;}

/*showmy*/
.xiaomy{margin-left:20px;margin-top:15px;}
.xiaomy .row{height:32px;}
input.name{border:0px;color:red;width:100px;}
.buttons input{margin-top:10px;}